<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Virus</title>
    <th:block th:replace="fragments/head_fragment">
    </th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/nav_fragment">
    </th:block>

    <div class="container">
        <header>
            <h1>Spread a new Virus!</h1>
        </header>
        <main>
            <form th:object="${virusModelAttribute}" th:action="@{/add-virus}" th:method="post">
                <div class="form-group">
                    <label for="virusName">Name</label>
                    <input class="form-control" id="virusName" type="text" th:field="*{name}"
                           placeholder="Name here..."/>
                    <th:block th:if="${#fields.hasErrors('name')}">
                        <th:block th:each="nameError: ${#fields.errors('name')}">
                            <p th:text="${nameError}"></p>
                        </th:block>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="virusDescription">Description</label>
                    <textarea class="form-control" id="virusDescription" th:field="*{description}"
                              placeholder="Description here..."></textarea>
                    <th:block th:if="${#fields.hasErrors('description')}">
                        <th:block th:each="descriptionError: ${#fields.errors('description')}">
                            <p th:text="${descriptionError}"></p>
                        </th:block>
                    </th:block>
                </div>


                <div class="form-group">
                    <label for="virusSideEffect">Side effect</label>
                    <input class="form-control" id="virusSideEffect" type="text" th:field="*{sideEffects}"
                           placeholder="Side effect here..."/>
                    <th:block th:if="${#fields.hasErrors('sideEffects')}">
                        <th:block th:each="sideEffectError: ${#fields.errors('sideEffects')}">
                            <p th:text="${sideEffectError}"></p>
                        </th:block>
                    </th:block>
                </div>

                <div class="form-group">
                    <label for="virusCreator">Creator</label>
                    <input class="form-control" id="virusCreator" type="text" th:field="*{creator}"
                           placeholder="Creator here..."/>
                    <th:block th:if="${#fields.hasErrors('creator')}">
                        <th:block th:each="creatorError: ${#fields.errors('creator')}">
                            <p th:text="${creatorError}"></p>
                        </th:block>
                    </th:block>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" th:field="*{deadly}"> Is deadly?
                    </label>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" th:field="*{curable}"> Is curable?
                    </label>
                </div>

                <div class="form-check" th:each="virusMutation : ${T(residentevil_app.domain.enums.Mutation).values()}">
                    <input type="radio" th:id="${{virusMutation}}" th:value="${{virusMutation}}"
                           th:field="*{mutation}"/>
                    <label th:for="${{virusMutation}}" th:text="${{virusMutation}}">Shipping Types</label>
                </div>
                <th:block th:if="${#fields.hasErrors('mutation')}">
                    <th:block th:each="mutationError: ${#fields.errors('mutation')}">
                        <p th:text="${mutationError}"></p>
                    </th:block>
                </th:block>

                <div class="form-group">
                    <label for="turnoverRate">Turnover Rate</label>
                    <input class="form-control" id="turnoverRate" type="number" th:field="*{turnoverRate}"
                           placeholder="Turnover Rate here..."/>
                    <th:block th:if="${#fields.hasErrors('turnoverRate')}">
                        <th:block th:each="turnOverRateError: ${#fields.errors('turnoverRate')}">
                            <p th:text="${turnOverRateError}"></p>
                        </th:block>
                    </th:block>
                </div>

                <label for="selectMagnitude">Magnitude</label>
                <select class="form-control" id="selectMagnitude">
                    <option th:each="virusMagnitude : ${T(residentevil_app.domain.enums.Magnitude).values()}"
                            th:value="${virusMagnitude}"
                            th:text="${virusMagnitude}">
                    </option>
                </select>

                <label for="someDate"></label>
                <input id="someDate" type="datetime-local"/>

                <button type="submit" class="btn resident-evil-white resident-evil-dark-red">Submit</button>

            </form>
        </main>
    </div>
</div>

</body>
</html>